/* 
    Document   : style
    Created on : 2010-12-16, 22:01:20
    Author     : Dominik Wlazlowski
    Description:
        Stylesheet for standard version.
*/

root {
    display: block;
    /* color: red */
}
